.footer {
	padding: 24px 0;
	background-color: #0b0b0b;
	text-align: center;
}

.footer_container {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.footer_socials {
	display: flex;
	gap: 16px;
}
