.p--1 {
    height: 100vh;
    padding: 0 30px;
    overflow: hidden;
}

.title-content {
    margin: 0 24px;
    width: 50%;
}

.text-title {
    font-family: var(--accent-font-100);
    font-size: 4.5em;
    text-shadow: 0 6px 5px rgb(0, 0, 163);
}

.text-sub-title .sub-title {
    font-size: 1.5em;
    color: transparent;
    background-clip: text;
    background: var(--linear-100);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-sub-title .sub-text {
    font-size: 1em;
    color: var(--font-color-300);
    margin: 8px 0 0 0;
}

.image-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.image-content img {
    /* height: clamp(250px, 500px, 1000px); */
    height: 500px;
    animation: float 3s ease-in-out infinite;
}