.p--5 {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 100px 40px 0 100px;
}

.reach-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 40px 0;
}

.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.left-container img {
    max-height: 100%;
}

.right-container {

    width: 70%;
}

.right-container .form-container {
    display: flex;
    margin: auto;
    height: 100%;
    width: 80%;
    flex-direction: column;
}

.form-container .form-title {
    font-size: 3em;
}

.form-container .form-description {
    font-size: 1em;
    font-weight: 300;
    color: var(--font-color-300);
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.form-group label {
    font-weight: 400;
}

.form-group input {
    font-size: 1.3em;
    color: var(--font-color-200);

    margin-right: 8px;
    padding: 8px;

    background: rgba(37, 36, 34, 0.263);
    border: 1px solidrgba(166, 165, 165, 0.145);
    border-radius: 10px;
    box-shadow: 0 5px 15px -3px rgba(42, 14, 97, 0.702), 0 4px 6px -4px rgba(42, 14, 97, 0.702);
    outline: none;

    transition: all .1s ease;
}

.form-group textarea {
    font-size: 1.3em;
    color: var(--font-color-200);

    padding: 8px;

    background: #25242243;
    border: 1px solid rgba(166, 165, 165, 0.145);
    border-radius: 10px;
    box-shadow: 0 5px 15px -3px rgba(42, 14, 97, 0.702), 0 4px 6px -4px rgba(42, 14, 97, 0.702);
    outline: none;

    transition: all .1s ease;
}

.form-group textarea:hover,
.form-group textarea:focus,
.form-group input:hover,
.form-group input:focus {
    background: #17161558;
    box-shadow: 0 5px 15px -3px rgba(63, 23, 144, 0.702), 0 4px 6px -4px rgba(42, 14, 97, 0.702);
}

.right-container button {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
    padding: 8px 16px;
    max-width: 180px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: linear-gradient(180deg, rgba(60, 8, 126, 0) 0%, rgba(60, 8, 126, .42) 100%), rgba(113, 47, 255, .24);
    box-shadow: inset 0 0 12px #bf97ff70;
    transition: all .3s ease-in-out;
}

.right-container button:hover,
.right-container button:focus {
    background: linear-gradient(180deg, rgba(101, 12, 219, 0) 0%, rgba(84, 4, 189, 0.42) 100%), rgba(113, 47, 255, .24);
}