@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 17px;
    background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-clip: padding-box;
    border: 4px solid transparent;
    background-color: #2a0e61;
}

:root {
    --main-font: 'Poppins', sans-serif;
    --accent-font-100: 'Orbitron', sans-serif;
    --accent-font-200: 'Electrolize', sans-serif;

    --bg: #030015;
    --linear-100: linear-gradient(90deg, #8b59ff 0%, #b466fe 100%);

    --font-color-100: #ffffff;
    --font-color-200: #e2e2e2;
    --font-color-300: #c3c3c3;
}

body {
    color: var(--font-color-100);
    font-family: var(--main-font);
    height: auto;
    min-height: 100vh;
    background-color: var(--bg);
    overflow-x: hidden;
}

*[animate="fade-in"] {
    animation: fadeIn .5s ease-in-out;
}

.blackhole {
    position: absolute;
    top: -30em;
    height: 1100px;
    width: 100%;
    transform: rotate(180deg);
    animation: fadeIn 2s linear;
    z-index: -1;
}

section {
    min-height: 100vh;
    height: 100%;
    width: auto;
    z-index: 1;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    padding: 16px 40px;
    background-color: #03001417;
    backdrop-filter: blur(12px);
    border: 0 solid rgb(229, 231, 235);
    box-shadow: 0 10px 15px -3px rgba(42, 14, 97, 0.702), 0 4px 6px -4px rgba(42, 14, 97, 0.702);
    z-index: 50;
}

.header .logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.header .logo img {
    position: absolute;
    top: 0;
    height: 100%;
    user-select: none;
}

.header .logo .outer {
    animation: rotate 20s linear infinite;
}

.nav-items {
    display: flex;
}

.nav-link a {
    color: #e1a9ff;
    text-decoration: none;
    padding: 8px 24px;
    font-size: 16px;

    backdrop-filter: blur(12px);
    border: 1px solidrgba(166, 165, 165, 0.145);
    background: linear-gradient(180deg,
            rgba(51, 51, 51, 0.2) 0%,
            rgba(166, 165, 165, 0.216) 100%);
    outline: none;
    transition: all .3s ease-in-out;
}

.nav-link a.f-link {
    border-radius: 10px 0 0 10px;
}

.nav-link a.l-link {
    border-radius: 0 10px 10px 0;
}

.nav-link a:hover,
.nav-link a:focus {
    color: #fff;
    border: 1px solid rgba(200, 200, 200, 0.384);
    box-shadow: 0 0 4px 2px rgba(194, 128, 255, 0.267);
}

.page-title {
    font-family: var(--accent-font-100);
    font-weight: 600;
    font-size: 3em;
    width: max-content;

    margin: 60px 0;
    padding: 0 16px;

    border-radius: 10px;
    backdrop-filter: blur(12px);
    border: 1px solidrgba(166, 165, 165, 0.145);
    animation: containerdeIn .3s linear;
}

.circle-element {
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    filter: blur(100px);
    opacity: .3;
    animation: changeSize 20s linear infinite, fadeInCircle 3s linear;
    overflow: hidden;
    z-index: -1;
}

.circle-1 {
    bottom: 10em;
    left: 10em;
    background: radial-gradient(75% 75% at 75% 75%, #800affe6, #ff50d9c6);
}

.circle-2 {
    bottom: 10em;
    right: 15em;
    background: radial-gradient(75% 75% at 75% 75%, #5c0aff, #fc76fcc4);
}

.content-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

footer {
    padding: 24px 0;
    background-color: rgb(11, 11, 11);
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-socials {
    display: flex;
    gap: 16px;
}

.footer-socials a {
    color: var(--font-color-100);
}

@keyframes floating-rotate {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(10px) rotate(360deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}


@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInCircle {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .3;
    }
}

@keyframes changeSize {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}
